body{
    font-family: Helvetica;
    text-align: center;
}

.header{
    color: white;
    background-image: url(../resources/the-flatiron-building.png);
}

h1{
    font-size: 70px;
    font-weight: bold;
}

ul li{
    list-style: none;
    font-size: 18px;
}

a:visited{
    color: white;
    list-style: none;
}
